<!DOCTYPE html>
<html lang="en">
<form method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <meta charset="utf-8">

    <head>
        <title>Page Title</title>
        <meta name="description" content="Roughly 155 characters">
        <link rel="stylesheet" type="text/css" href="mystyle.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body>
    <h1>This is Insert component menu </h1>
    <h2>Insert Component as user {{user}}</h2>
    <ul>
        <li>Code:<input name="code" type="text"/>
        <li>Type:<input name="types" type="text"/>
        <li>Characteristic: <textarea cols="20" name="characteristic"
                                      rows="5">Write your component charactreristcs</textarea>
    </ul>
    <button class="insert button">Insert</button>

    <ul>
        <li><a href="http://localhost:8000/login/">Login page</a>
        <li><a href="http://localhost:8000/edit_component/">Edit Component</a>
        <li><a href="http://localhost:8000/show_components/">Show all Components and users</a>
        <li><a href="http://localhost:8000/show_component/">Show Component from user {{user}}</a>
        <li><a href="http://localhost:8000/delete_components/">Delete Component</a>

    </ul>
    </body>
</form>
  <a href="http://localhost:8000/logout_view/">
        <button>logout</button>
    </a>
</html>