<h1>Edit from user</h1>
 <h1> {{user}}</h1>
{% if components %}

<ul>
    {% for component in components %}
        <li>{{ forloop.counter }}  </li>
        {{ component.code }}
        <tr>
            <td>
                <form action="http://localhost:8000/edit_component/" method="post">
                <input type="text" id="code" name="code" placeholder={{ component.code }}>
                <input type="submit" value="edit code">
                {% csrf_token %}
                </form>
            </td>
        </tr>


        {{ component.types }}
        <tr>
            <td>
                <form action="http://localhost:8000/edit_component/" method="post">
                <input type="text" id="types" name="types" placeholder={{ component.types }}>
                <input type="submit" value="edit type">
                {% csrf_token %}
                </form>
            </td>
        </tr>

        <li>{{ component.characteristics }}</li>

        <tr>
            <td>
                <form action="http://localhost:8000/edit_component/" method="post">
                <input type="text" id="characteristics" name="characteristics" placeholder={{ component.characteristics }}>
                <input type="submit" value="edit characteristics">
                {% csrf_token %}
                </form>
            </td>
        </tr>

    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>

{% endif %}