<h1>Show component from user {{user}}</h1>
<li><a href="http://localhost:8000/login/">Login page</a>
<li><a href="http://localhost:8000/components/">Insert components</a>
<li><a href="http://localhost:8000/edit_component/">Edit Component</a>
<li><a href="http://localhost:8000/show_components/">Show all Components and users</a>
<li><a href="http://localhost:8000/delete_components/">Delete Component</a>
<a href="http://localhost:8000/logout_view/">
    <button>logout</button>
</a>
{% if components %}

<ul>
    {% for component in components %}
        <li>{{ component.id }}</li>
        <li>{{ component.code }}</li>
        <li>{{ component.types }}</li>
        <li>{{ component.characteristics }}</li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>

{% endif %}