{% load static %}
<form  method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <div class="imgcontainer">
    <img src="{% get_media_prefix %}download.jpeg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

      <button class="button button1">Sign up</button>
    <label>
      <input type="checkbox" checked="checked" name="remember_me"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">change password <a href="{% url 'change_password'%}">password?</a></span>
  </div>
</form>